<% if session[:cmd_id]==0 %>
  <% breadcrumb :lkup_new, @lkup_infos %>
<% else %>
  <% breadcrumb :new_lkup, [@base_cmds,@lkup_infos] %>
<% end %>

<h1 data-value="<%= @lkup_infos.LKUP_TBL_TYPE %>">CREATE LKUP_TBL </h1>
<div class="perfect-forms">
<%= form_for(@lkups) do |f| %>
<%= render 'shared/error_messages', object: f.object %> 

  <%= f.hidden_field :LKUP_TBL_NO, :value => @lkups.LKUP_TBL_NO %>

<div class="form-row">
  <%= f.label :LKUP_ENTRY_INDEX %>
  <%= f.text_field :LKUP_ENTRY_INDEX, class: 'form-control' %>
  <div id="details_holder" data-original_1="<%=@lkups.LKUP_TBL_NO%>" data-original_2="<%=@lkups.LKUP_ENTRY_INDEX%>"></div>
 </div>

  <div class="form-row">
  <%= f.label :BYTE_CODE%>
  <%= f.text_field :BYTE_CODE, class: 'form-control' %>
 </div>

  <div class="form-row">
    <%= f.label :VALUE%>
    <%= f.text_field :VALUE, class: 'form-control' %>
    <div class="value_error_text"></div>
  </div>
  
  <div class="form-row">
  <%= f.submit 'Create', class: "btn btn-primary" %>
 </div>
<% end %>
</div>