<h1>EDIT SATELLITE_TABLE </h1>
<div class="perfect-forms">
<%= form_for(@sat) do |f| %>

  <div class="form-row">
  <%= f.label :SATNAME %>
  <%= f.text_field :SATNAME, class: 'form-control' %>
  </div>

  <div class="form-row">
  <%= f.label :SCSHORTNAME %>
  <%= f.text_field :SCSHORTNAME, class: 'form-control' %>
  </div>


  <div class="form-row">
  <%= f.label :DB_NAME %>
  <%= f.text_field :DB_NAME, class: 'form-control' %>
  </div>

  <div class="form-row">
  <%= f.label :DB_USERNAME %>
  <%= f.text_field :DB_USERNAME, class: 'form-control' %>
  </div>

  <div class="form-row">
  <%= f.label :DB_PASSWORD %>
  <%= f.text_field :DB_PASSWORD, class: 'form-control' %>
  </div>

  <%= f.label :EDIT_ENABLE %>
  <%= f.check_box :EDIT_ENABLE%> 

  <%= f.label :CCSDS_FLAG %>
  <%= f.check_box :CCSDS_FLAG%> 
 
  <div class="form-row">
  <%= f.submit 'Update', class: "btn btn-primary" %>
</div>
<% end %>
</div>